<div class="div-depth-time">
  <mat-grid-list cols="3" class="timeline-grid-list" rowHeight="50px">
    <mat-grid-tile class="depth-tile">
      <div class="div-depth-tile">
        <mat-button-toggle-group name="fontStyle" aria-label="">
          <mat-button-toggle aria-label="MD" (click)="onClickBtn('MD')">MD</mat-button-toggle>
          <mat-button-toggle aria-label="TVD" (click)="onClickBtn('TVD')">TVD</mat-button-toggle>
          <mat-button-toggle aria-label="TVDSS" (click)="onClickBtn('TVDSS')">TVDSS</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="div-timeline">
      <span>Historical Timeline</span>
      <button mat-icon-button aria-label="" (click)="showRangeSlider()" [ngClass]="rangeSlider ? 'showIcon' : 'hideIcon'">
        <img src="./../../../../assets/images/eye-disabled.svg" alt="" class="hide">
        <img src="./../../../../assets/images/eye.svg" alt="" class="show">
      </button>
      <button aria-label="All" (click)="onClickBtn('All')">All</button>
      <button aria-label="1Y" (click)="onClickBtn('1Y')">1Y</button>
      <button aria-label="90D" (click)="onClickBtn('90D')">90D</button>
      <button aria-label="60D" (click)="onClickBtn('60D')">60D</button>
      <button aria-label="30D" (click)="onClickBtn('30D')">30D</button>
      <button aria-label="7D" (click)="onClickBtn('7D')">7D</button>
      <button aria-label="24H" (click)="onClickBtn('24H')">24H</button>
    </mat-grid-tile>
   
    <mat-grid-tile class="datapicker">
      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Start Date" [min]="minDate" [max]="maxDate"
            [disabled]="disabled" (dateChange)="startDateChanged('change', $event)" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
           [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
           [touchUi]="touchUi"  [enableMeridian]="enableMeridian" 
           >
        </ngx-mat-datetime-picker>
     </mat-form-field>
     <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker2" placeholder="End Date" [min]="minDate" [max]="maxDate"
          [disabled]="disabled" (dateChange)="endDateChanged('change', $event)" >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
         [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
         [touchUi]="touchUi"  [enableMeridian]="enableMeridian" 
         >
      </ngx-mat-datetime-picker>
   </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="custom-slider-wrap" [ngClass]="rangeSlider ? 'showSlide' : 'hideSlide'">
  <div class="custom-slider">
    <button mat-icon-button aria-label=""   (click)="scrollLeft()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div #widgetsContent class="scroll" [scrollLeft]="widgetsContent.scrollWidth">
      <ng5-slider  
      [(value)]="startDate"
      [(highValue)]="endDate" 
      [options]="options"
      [ngStyle]="{width:'300%'}"
      (userChangeEnd)="sliderChangeEnd()"
      ></ng5-slider>
    </div>
    <button  mat-icon-button aria-label="" (click)="scrollRight()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  
</div>