.div-timeline button{
    height: 40px;
    width: 40px;
    font-size: 11px;
    margin: 0 5px 0 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(193, 191, 191, 0.857);
    cursor:pointer;
}
.div-timeline button:hover {
  background-color: rgba(193, 191, 191, 0.857);
}
.div-depth-tile{
  width: 100%; display: flex; align-items: flex-start;
}
.depth-tile button{
  height: 40px;
  width: 50px;
  font-size: 11px;
  border-radius: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(193, 191, 191, 0.857);
  cursor: pointer;
}
.depth-tile button:hover {
  background-color: rgba(193, 191, 191, 0.857);
}

.div-timeline span{
  font-size: 11px;
  display: block;
  width: 50px;
  margin: 0 20px 0 0;
}
.datapicker mat-form-field{
  width: 100% !important;
 margin: 20px 0 0 0;
 padding: 15px 15px 10px 0;
}