div.scroll {
	margin: 0px;
	padding: 0px;
	width: 300%;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	background-color: #e3e6e9;
	&::-webkit-scrollbar {
		display: none;
	}
  }
  
.div-depth-time{
	border-bottom: #afafaf solid 2px;
  }

.hideSlide {
	display: none;
}
.showSlide {
	display: block;
}
.hideIcon {
	.show {
		display: none;
	}
	img {
		max-width: 20px;
	}
}
.showIcon {
	.hide {
		display: none;
	}
	img {
		max-width: 20px;
	}
}

// range slider css start here
.custom-slider-wrap{
    background-color: #fff;
    padding: 7px 0;
	.custom-slider{
		padding: 0px;
		display: flex;
		align-items: center;
		.mat-icon-button{
			background-color: #fff;
			border-radius: 0;
			line-height: 40px;
			width: 40px;
			height: 40px;
			text-align: right;
		}
		.cdk-mouse-focused{
			background-color: #fff;
		}
		.ng5-slider{
			
			margin: 54px 0 0px;
			height: 2px;
		}
	}
}
