

.menu_icon {
    position: absolute;
    top: 62px;
    z-index: 111;
    text-align: right;
    margin-top: 0 !important;
    
}

.menu_icon.menu-close {
    text-align: center;
}

.menu_icon.menu-close img {
    transform: rotate(180deg);
}

#sidenav,
#sidenav.menu-open,
.menu_icon.menu-open {
    width: 240px;
    margin-top: 90px;
}

#sidenav.menu-close,
.menu_icon.menu-close {
    width: 50px !important;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
}

.mat-list-item {
    font-size: 14px;
    cursor: pointer;

    &:hover {
        background-color: #e1e1e1;
    }

    span {
        display: grid;
        justify-content: center;
        width: 25px;
        align-items: center;

        img {
            width: 100%;
        }
    }

    span.discrepancies img {
        width: 27px;
    }
}

.active_list {
    background-color: #e1e1e1;
}
