<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-fixed navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="d-inline homeIcon">
        <button mat-button color="primary" aria-label="Home">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="d-inline">
        <a class="navbar-brand" href="javascript:void(0)">Mature Fields and Subsea Software
          <span>version 1.0</span>
        </a>
      </div>
    </div>

    <div class="ml-auto userProfile">
      <!-- Login Code Start Here -->
      <div class="loginbtn" *ngIf=!isLoggedin>
        <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      </div>
      <!-- Login Code End Here -->

      <!-- After Login Code Start Here -->
      <div class="profileWrap" *ngIf=isLoggedin>
        <div ngbDropdown class="d-inline-block notification">
          <button mat-icon-button aria-label="Notification" id="notification" ngbDropdownToggle>
            <span class="material-icons" matBadge="8" matBadgePosition="after">notifications_none</span>
          </button>
          <ul ngbDropdownMenu aria-labelledby="notification">
            <div class="notiBtn">
              <a href="#">New (6)</a>
              <a href="#" class="read">Read (35)</a>
            </div>
            <li ngbDropdownItem>
              <div class="notificationList">
                <button mat-icon-button class="closeIcon"><mat-icon>clear</mat-icon></button>
                <h6>What is Lorem Ipsum?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                <p class="view"><a href="#">View</a></p>
              </div>
            </li>
            <li ngbDropdownItem>
              <div class="notificationList">
                <button mat-icon-button class="closeIcon"><mat-icon>clear</mat-icon></button>
                <h6>What is Lorem Ipsum?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                <p class="view"><a href="#">View</a></p>
              </div>
            </li>
            <li ngbDropdownItem>
              <div class="notificationList">
                <button mat-icon-button class="closeIcon"><mat-icon>clear</mat-icon></button>
                <h6>What is Lorem Ipsum?</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                <p class="view"><a href="#">View</a></p>
              </div>
            </li>
          </ul>
        </div>
        <div ngbDropdown class="d-inline-block profileList">
          <button mat-mini-fab aria-label="Profile" id="userProfile" ngbDropdownToggle matTooltip="{{userDisplayName}}"
            [matMenuTriggerFor]="menu" [matTooltipPosition]="position.value">
            <img src="./../assets/images/profile_useravatar.png" alt="User Profile" />
          </button>
          <ul ngbDropdownMenu aria-labelledby="userProfile">
            <li ngbDropdownItem><a (click)="onLogout()">
                <mat-icon class="mr-2">power_settings_new</mat-icon> Log Out
              </a></li>
          </ul>
        </div>
      </div>
      <!-- After Login Code End Here -->

    </div>

    <!-- <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
  </span>
  <span class="nav-tool-items userProfile">
    <span class="logout">
      <span class="bell-icon">
        <mat-icon>notifications_none</mat-icon>
      </span>
      <button mat-mini-fab matTooltip="{{userDisplayName}}" [matMenuTriggerFor]="menu" [matTooltipPosition]="position.value" >
        <img src="./../assets/images/profile_useravatar.png" alt="User Profile" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>power_settings_new</mat-icon>
          <a (click)="onLogout()">Log Out</a>
        </button>
      </mat-menu>
    </span>
  </span>  -->

  </div>
</nav>