.depth-select {
    z-index: 2;
    display: flex;
    margin-top: -75px;
    width: 74px;
    height: 36px;
    margin-left: 7px;
    position: relative;
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
    color: #1f77b4;
    font-weight: bold;
    font-size: 13px;
}