<!-- Toolbar -->
<mat-toolbar style="background-color: rgba(128, 139, 150);"  class="app-header"  >
  <span class="fill-remaining-space"></span>
  <span class="nav-tool-items" *ngIf=!isLoggedin>
    <a mat-button routerLink="login" routerLinkActive="active" >Log in</a>
    
  </span>
  <span class="nav-tool-items"  *ngIf=isLoggedin>
    <span class="logout">
      <span class="bell-icon">
        <mat-icon>notifications_none</mat-icon>
      </span>
       <button  mat-mini-fab matTooltip="{{userDisplayName}}" [matMenuTriggerFor]="menu" [matTooltipPosition]="position.value"  color="accent">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <a (click)="onLogout()">Log Out</a>
          </button>
      </mat-menu>
    </span>
    
  </span>
  
</mat-toolbar>


