.chart{
    z-index: -1;
}

.depth-select {
    z-index: 2;
    display: flex;
    margin-top: -74px;
    width: 74px;
    height: 36px;
    margin-left: 7px;
    position: relative;
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
    color: #1f77b4;
    font-weight: bold;
    font-size: 13px;
}

:host ::ng-deep .user-select-none {
   z-index: 1;
  }