

<!-- <div class="select-content"> 
    <mat-form-field appearance="fill">
        <mat-label>Color Scale</mat-label>
        <mat-select (selectionChange)="selectView($event.value)">
         <mat-option value="flowRate">Flow Rate</mat-option>
         <mat-option value="oil">Oil</mat-option>
         <mat-option value="water">Water</mat-option>
         <mat-option value="gas">Gas</mat-option>
        </mat-select>
    </mat-form-field>
</div> -->

<div *ngIf="graph">
    <plotly-plot [data]="graph.data" [layout]="graph.layout"  class="chart"
    [updateOnDataChange]="true"
    [updateOnLayoutChange]="true"></plotly-plot>
</div>

