<div class="monitoring-charts">
  
  <div class="container-fluid">
    <div class="row equal">

      <!-- Wellbore 2D Profile HTML start here -->
      <div class="col-md-3">
        <div class="chartWrap">
          <div class="chartHeader">
            <h3>WELLBORE 2D PROFILE</h3>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-btn">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>library_add</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item>
                <mat-icon>remove_circle_outline</mat-icon>
                <span>Remove</span>
              </button>
            </mat-menu>
          </div>
          <div class="chartContent">
            <app-zone-chart></app-zone-chart>
          </div>
        </div>
      </div>
      <!-- Wellbore 2D Profile HTML end here -->

      <div class="col-md-9">
        <!-- ZONE FLOW ALLOCATION HTML start here -->
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="chartWrap">
              <div class="chartHeader">
                <h3>ZONE FLOW ALLOCATION</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-btn">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>library_add</mat-icon>
                    <span>Add</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>remove_circle_outline</mat-icon>
                    <span>Remove</span>
                  </button>
                </mat-menu>
              </div>
              <div class="chartContent" style="min-height: 700px;">
                <app-zone-flow-allocation-chart></app-zone-flow-allocation-chart>
              </div>
            </div>
          </div>
        </div>
         <!-- ZONE FLOW ALLOCATION HTML end here -->
       <!-- PRESSURE/FLOWRATE HTML start here -->
        <div class="row">
          <div class="col-md-12">
            <div class="chartWrap">
              <div class="chartHeader">
                <h3>PRESSURE/FLOWRATE</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-btn">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>library_add</mat-icon>
                    <span>Add</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>remove_circle_outline</mat-icon>
                    <span>Remove</span>
                  </button>
                </mat-menu>
              </div>
              <div class="chartContent">
                <app-pressureflowratechart></app-pressureflowratechart>
              </div>
            </div>
          </div>
        </div>
        <!-- PRESSURE/FLOWRATE HTML end here -->

      </div>
    </div>
  </div>
</div>









<!-- <div class="monitoring-charts">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile colspan= "1" rowspan="4">
      <mat-grid-tile-header>
        WELLBORE 2D PROFILE
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-btn">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>library_add</mat-icon>
            <span>Add</span>
          </button>
          <button mat-menu-item>
            <mat-icon>remove_circle_outline</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
      </mat-grid-tile-header>
      <div class="content-container">
        <app-zone-chart></app-zone-chart>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <div class="content-container">
        <app-zone-flow-allocation-chart></app-zone-flow-allocation-chart>
      </div>
      <mat-grid-tile-header>ZONE FLOW ALLOCATION
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-btn">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>library_add</mat-icon>
            <span>Add</span>
          </button>
          <button mat-menu-item>
            <mat-icon>remove_circle_outline</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
      </mat-grid-tile-header>
      <div class="content-container">
        <app-zone-flow-allocation-chart></app-zone-flow-allocation-chart>
      </div>   
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <div class="chart">
        <app-pressureflowratechart></app-pressureflowratechart>
      </div>
      <mat-grid-tile-header>PRESSURE/FLOWRATE
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="menu-btn">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>library_add</mat-icon>
            <span>Add</span>
          </button>
          <button mat-menu-item>
            <mat-icon>remove_circle_outline</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
      </mat-grid-tile-header>

    </mat-grid-tile>
  </mat-grid-list>

</div>


 -->
