<div class="welldata">
 
<mat-list>
  <mat-list-item>Name : {{dataSource.WellName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Type : {{dataSource.WellType}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Project Name : {{dataSource.ProjectName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Status : {{dataSource.Status}}</mat-list-item>
</mat-list>
</div>

<div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="300px" height="100px"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"></canvas>
      </div>
    </div>

<br>
    <div >
      <table>
        <tr>
          <th>Time</th>
          <th>Pressure</th>
          <th>Temperature</th>
        </tr>
        <tr *ngFor="let d of wellDataList; let i=index;" [class]="'line-'+i" >
          
          <td>{{d.DateTime}}</td>
          <td>{{d.Pressure}}</td>
          <td>{{d.Temperature}}</td>
        </tr>
      </table>
    </div>
  </div>