.monitoring {
    width:100%;
    margin: 5% 0 0 0;
    padding: 0;
    border: 1px solid black;
}
.monitoring mat-grid-tile{
    border-right: 1px solid gray;
}
.div-depth-time mat-grid-tile{
    border-right: 1px solid gray;
}

.mat-select{
    padding: 10px 0 0 0;
}


mat-grid-list {
    border: 1px solid rgb(220, 218, 218);;
}
.monitoring-grid-list {
    background-color: rgb(220, 218, 218);
}

  .mat-button-base {
    margin: 0 1px 0 0;
  }

  .monitoring button {
background-color: #a9a9a94d;
  }

  .div-timeline .mat-button-base{
      height: 30px;
      width: 30px;
      font-size: 9px;
  }

  .div-timeline span{
      font-size: 11px;
  }

  .datapicker{
      margin: 10px 0 0 0;
      padding: 10px 0 0 0;
  }

.div-depth-time span{
    display: block;
    width: 50px;
    margin: 0 0 0 -30px;
}

.monitoring-charts mat-grid-tile {
    background: rgb(187, 204, 225);
}

